.todo-container {
  max-width: 600px;
  margin: 50px auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.todo-container h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  font-size: 1.5rem;
}

.no-tasks-message {
  margin-top: 20px;
  font-size: 18px;
  color: #777;
}

.todo-container form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.todo-container input[type='text'],
.todo-container select {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.todo-container button:hover {
  background-color: #0056b3;
}

.todo-container input[type='text'][placeholder='Search tasks...'] {
  margin-bottom: 10px;
  width: 100%;
}

.todo-container ul {
  list-style-type: none;
  padding: 0;
}

.todo-container li {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.todo-container li button {
  margin-left: auto;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

.todo-container li button.edit-button {
  background-color: blue;
  color: white;
}

.todo-container li button:hover {
  background-color: #c82333;
}

.todo-container li button.edit-button:hover {
  background-color: #004085;
}

.todo-container li span {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word;
}

.todo-container li.low {
  border-color: #28a745;
}

.todo-container li.medium {
  border-color: blue;
}

.todo-container li.high {
  border-color: #dc3545;
}


@media (max-width: 768px) {
  .todo-container {
    max-width: 90%;
    padding: 15px;
  }

  .todo-container h2 {
    font-size: 1.25rem;
  }

  .todo-container form {
    flex-direction: column;
  }

  .todo-container input[type='text'],
  .todo-container select {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .todo-container li {
    flex-direction: column;
    align-items: flex-start;
  }

  .todo-container li button {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .todo-container h2 {
    font-size: 1rem;
  }

  .todo-container button {
    font-size: 14px;
  }
}
